* {
  padding: 0;
  margin: 0;
  list-style: none;
  text-decoration: none;
}

html,
body {
  width: 100%;
  height: 100%;
}

.wrap {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

header {
  width: 100%;
  height: 1.2rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #F1F1F1;
}

header img {
  height: 100%;
}

header a {
  margin-bottom: .2rem;
}

header .iconfont {
  font-size: .6rem;
  margin-right: .2rem;
}

.top {
  width: 100%;
  height: 1.2rem;
  display: flex;
  align-items: center;
  position: relative;
  padding-top: .2rem;
}

.top span {
  position: absolute;
  top: .15rem;
  left: 4%;
}

.top li {
  width: 20%;
  text-align: center;
  font-weight: 600;
  font-size: .35rem;
}

.top h6 {
  font-weight: 600;
  font-size: .35rem;
}

.top span {
  font-size: .3rem;
  font-weight: 100;
}

section {
  width: 100%;
  flex: 1;
  display: flex;
  flex-direction: column;
}

section form {
  width: 94%;
  height: 1.2rem;
  display: flex;
  margin: 0 3%;
  align-items: center;
}

section form input {
  width: 70%;
  height: .8rem;
  border: solid 1px #ccc;
  font-size: .5rem;
  padding-left: .2rem;
}

section form img {
  width: 10%;
  height: .8rem;
  margin-left: .2rem;
}

.uls {
  width: 100%;
  overflow: hidden;
  display: flex;
}

.uls li {
  width: 100%;
  flex-shrink: 0;
}

.uls li img {
  width: 100%;
}

.dls {
  width: 100%;
  height: 2rem;
  display: flex;
  align-items: center;
}

.dls dl {
  flex: 1;
  text-align: center;
  display: flex;
  flex-direction: column;
}

.dls dl dt {
  width: 1rem;
  height: 1rem;
  border-radius: 50%;
  margin: 0 auto;
  text-align: center;
  line-height: 1rem;
}

.dls dl dt .iconfont {
  font-size: .6rem;
}

.dls dl:nth-child(1) dt {
  background: #0070BD;
  color: #fff;
}

.dls dl:nth-child(2) dt {
  background: #F63A52;
  color: #fff;
}

.dls dl:nth-child(3) dt {
  background: #00A8D2;
  color: #fff;
}

.dls dl:nth-child(4) dt {
  background: #F99607;
  color: #fff;
}

.dls dl:nth-child(5) dt {
  background: #F94A8B;
  color: #fff;
}

.main {
  width: 100%;
}

.main img {
  width: 100%;
}

.bg {
  background: blue;
}
